%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        GCamera => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::GCamera',
            },
        }
    },
);
%Image::ExifTool::UserDefined = (
    'Image::ExifTool::Exif::Main' => {
        0x8897 => { Name => 'XiaomiTag', Writable => 'int8u' },
    },
);
%Image::ExifTool::UserDefined::GCamera = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-GCamera', 2 => 'Image' },
    NAMESPACE   => { 'GCamera' => 'http://ns.google.com/photos/1.0/camera/' },
    WRITABLE    => 'string',
    MicroVideo  => { Writable => 'integer' },
    MicroVideoVersion => { Writable => 'integer' },
    MicroVideoOffset => { Writable => 'integer' },
    MicroVideoPresentationTimestampUs => { Writable => 'integer' },
);